<h1>Zdravím!</h1>
<p><b>Zadání praktické úlohy</b></p>
<p>Realizujte jednoduchou webovou aplikaci, která bude mít tyto základní vlastnosti</p>
<ul>
  <li>
    Bude umožňovat ukládat textové komentáře (včetně časové značky) na server. Uložiště pro
    komentáře může, ale nemusí být persistentní.
  </li>
  <li>
    Na stejné stránce bude současně zobrazen seznam všech uložených komentářů (seznam se
    bude vyčítat ze serveru).
  </li>
</ul>
<p>
  Pro realizaci použijte .Net Core 3.x a Angular 5+. Je možné použít jakoukoliv vhodnou
  knihovnu/komponentu jak na straně serveru, tak na straně frontendu.
</p>
<p>Vytvoření vhodného vzhledu UX/UI je na programátorovi.</p>
<p>Aplikaci doručte v Git repozitáři.</p>
<a href="https://github.com/Domino3666/Comments" target="_blank">Link na Git repozitár</a>
<br /><br />
<p>Zde je základní představa této jednoduché webové aplikace:</p>
<img [src]="imgPath" />
<br /><br />
<a href="#" [routerLink]="['/comments']">Prejsť na realizáciu zadania</a>
